<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linglett.dao.UserMapper">

    <!--增加一个Book-->

    <!--根据id删除一个Book-->
    <delete id="deleteUserById" parameterType="string">
        delete from shopping.user where userId=#{userId}
    </delete>
</mapper>