<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linglett.dao.SearchMapper">

    <resultMap id="searchGoodRes" type="com.linglett.pojo.goods">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="describe" jdbcType="VARCHAR" property="describe" />
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="imageId" jdbcType="BIGINT" property="imageId"/>
        <result column="sortId" jdbcType="BIGINT" property="sortId"/>
        <result column="created" jdbcType="DATE" property="created"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="searchGood" parameterType="java.lang.String" resultMap="searchGoodRes">
        select * from goods
        where title like CONCAT(CONCAT('%',#{SearchContent}),'%')
    </select>

    <select id="searchShop" parameterType="java.lang.String" resultType="com.linglett.pojo.shop">
        select * from shop
        where shopName like CONCAT(CONCAT('%',#{SearchName}),'%')
    </select>


</mapper>